<h1>
    Welcome
</h1>

<h3>This is the Employees Page 
<a href="http://localhost:3004/employees">Here</a>
</h3>
<br /><br />
<h3>
    This is the Departments Page <a href="http://localhost:3004/dept"> Here</a>
</h3>

<br /><br />
